.moqua {
  height: 100vh;
  background-image: url(./img/anhnen.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  color: yellow;
  font-size: 50px;
  margin-top: 40px;
}

h2 {
  color: yellow;
  font-size: 30px;
  margin-top: 270px;
  text-align: center;
}

h3 {
  text-align: center;
  color: yellow;
  font-size: 50px;
}
